

.gnc{
    display: block;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 30.5%;    /*  22.5% */
    min-width: 350px;
    height: 180px;
    margin: 10px;
    border: 3px solid #1d0287;
    border-radius: 25px;
    overflow: hidden;
    cursor: pointer;
}


.gnc-body{
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    /* text-align: center; */
    place-content: center;
}

.gnc-card-container{
    text-decoration: none;
}

.gnc-topbar{
    background: linear-gradient(153deg, #3EC6CB, #1BC99F);
    /* background: linear-gradient(90deg, #FF4F40 0%, #FF44DD 99.99%); */
    width: 100%;
    height: 10%;
    transform: rotate(180deg);
    overflow: hidden;
}

.gnc-card-contant{
    display: block;
    text-decoration: none;
    overflow: hidden
}

.gnc-header-text{
    text-align: left;
    padding-top: 0px;
    padding-left: 20px;
    padding-bottom: 0px;
    color: #1d0287
}

.gnc-icon-description{
    display: flex;
    /* margin-left: 10px; */
    padding-left: 20px;
    padding-bottom: 30px;
    overflow: hidden;
    /* align-items: top; */
    /* vertical-align: 15px; */
    /* align-items: center !important; */
}

.gnc-description{
    padding-left: 40px;
}

.gnc-description-icon{
    padding-left: 20px;
    height: 60px;
    overflow: hidden;
    /* vertical-align: 15px; */
    padding-top: 0px;
    padding-bottom: 0px;
}

.gnc-icon{
    display: flex;
    height: 60px;
    width: 60px;
    margin: 30px;
}

.stdc{
    display: block;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: 10px;
    border: 3px solid #1d0287;
    border-radius: 25px;
    overflow: hidden;
}

.stdc_content{
    margin: 10px;
}


