


.landing_page_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.home_page_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.home_page_subcontent {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


.data_tabs_div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}



.data_tabs_content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.blobdata_loading_div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.blobdata_loading_subdiv {
    padding: 20px;
}



