
.submit_button{
    width: 15em;
    height: 4em;
    border-radius: 30em;
    font-size: 15px;
    /* font should be bond */
    font-family: 'Roboto', sans-serif;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
    /* box-shadow: 6px 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff; */
}

.submit_button:before{
    content: "";
    width: 0;
    height: 4em;
    border-radius: 30em;
    top: 0;
    left: 0;
    background-image: linear-gradient(
        /* to right, #0fd850 0%, #f9f047 100%); */
        to right, #0fd850 0%, #f9f047 100%
        );
    position: absolute;
    transition: .5s ease;
    z-index: -1;
}

.submit_button:hover::before{
    width: 100%;
}




